<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{ page.title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ page.prefix }}static/css/blugold.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style>
	body {
	    padding: 10px;
	}
	</style>
    </head>
    <body>
	<div class="container">

	    <div class="row">
		<div class="page-header">
		    <ul class="nav nav-pills pull-right">
			{% for item in page.navigation %}
			<li><a href="{{ item['link'] }}"><i class="fa {{ item['icon'] }}"></i> <span class="visible-md-inline visible-lg-inline">{{ item['name'] }}</span></a></li>
			{% end %}
		    </ul>
		    <h1><i class="fa {{ page.icon }}"></i> {{ page.title }}</h1>
		</div>
	    </div>

            {% block body %}
	    {% end %}

	    <div class="row">
		<hr/>

		<div class="visible-xs visible-sm">
		    <ul class="nav nav-pills pull-right">
			{% for item in page.navigation %}
			<li><a href="{{ item['link'] }}"><i class="fa {{ item['icon'] }}"></i> <span class="visible-md-inline visible-lg-inline">{{ item['name'] }}</span></a></li>
			{% end %}
		    </ul>
		</div>

		<footer class="text-center">
		    <p class="text-muted">
		    <small>
		    Built using
		    <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>,
		    <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>, and
		    <a href="http://www.python.org/">Python</a>.
		    <br/>
		    &copy; 2018 <a href="http://www.nd.edu">University of Notre Dame</a>
		    </small>
		    </p>
		</footer>
	    </div>

	</div> <!-- /container -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% block script %}
	{% end %}
    </body>
</html>
